html {
  font-size: 20px;
}

nav ul {
  padding-left: 0;
  background-color: yellow;
  list-style-type: none;
  margin: 0 125px;
  /* width: 200px; */
}

nav li {
  text-align: center;
  display: inline-block;
  padding: 15px;
  box-sizing: border-box;
  width: 25%;
  padding-left: 10px;
  color: blue;
}

nav li:hover,
nav li:focus {
  background-color: green;
  color: yellow;
}

nav a {
  box-sizing: border-box;
  line-height: 2.5;
  padding: 0 10px;
  text-decoration: none;
  width: 100%;
}

ul {
  list-style-type: none;
}

ol {
  list-style-type: upper-roman;
}
